<h1 class="text-center mt-4">Zadowoleni Klienci</h1>

<div class="flickr_pagination">
  <%= will_paginate @clients%>
</div>

<div class="container">
  <% @clients.each do |client| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">
            <%#= link_to client.clientname, client %>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <%= client.name %>
            </h5>              
            <div class="img">
              <%= image_tag client.image.url(:medium)%> 
            </div>
            <p class="card-text"><%= client.pet %></p>
            <p class="card-text"><%= client.content %> </p>
            <%= link_to "View profile", client, class: "btn btn-outline-success" %>
            <% if logged_in? %>
              <% if isadmin? %>
                <%= link_to "Edit profile", edit_client_path(client), class: "btn btn-outline-info" %>
              <% end %>
              <% if isadmin? %>
                <%= link_to "Delete client", client_path(client), class: "btn btn-outline-danger", method: :delete,
                data: {confirm: "Are you sure you want to delete the client account and all associated articles?"} %>
              <% end %>
            <% end %>
          </div>
          <div class="card-footer text-muted">
            <small>Joined <%= time_ago_in_words(client.created_at) %> ago</small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
