<p id="notice"><%= notice %></p>

<h1 class="text-center">Artykuły</h1>
<div class="container">
          <% @posts.each do |post| %>
  <div class="row justify-content-center">

    <div class="card mb-3" style="max-width: 800px;">
      <div class="row g-0">
        <div class="col-md-7">
            <% if isadmin? %>
              <%= link_to edit_post_path(post) do %>  
              <div class="img">
              <%= image_tag post.avatar.url(:medium)%> 
              </div>
            <% end %>
            <% elsif %>
              <%= link_to post do %>  
              <div class="img">
              <%= image_tag post.avatar.url(:medium)%> 
              </div>
            <% end %>
          <% end %>
        </div>
          <div class="col-md-5">
            <div class="card-body">
              <h5 class="card-title"><%= post.title %></h5>
              <p class="card-text"><%= post.body %></p>
        </div>
                              <div class="card-footer text-muted">
                  Utworzony: <%= post.created_at %>
                </div>
      </div>
    </div>
    <br />

  </div>
      <% end %>
</div>
</div>


<% if isadmin? %>
  <%= link_to 'New Post', new_post_path, class: 'btn btn-primary'%>
<% end %>

