<!doctype html>
<html lang="en">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <head>
    <title>Przybij Lape</title>
  </head>
  <body class="d-flex flex-column">
    <%= render 'home/header' %>
    <div class="container">
      <br/>
      <% if notice %>
      <%= render 'layouts/alerts' %>
    <% end %>
    <div id="page-content">
      <%= render 'layouts/messages' %>
    <%= yield %>
  </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
